.zigzag-text-bg-1{
    background-image: url(../images/pabel.jpg);
    padding-left: 50px;
}
.zigzag-text-bg-2{
    background-image: url(../images/pabel-1.jpg);
    padding-right: 50px;
}

.section-padding {
    background-size: cover;
    background-position: center;
}

.pabel{
    margin-left: auto;
}

.zigzag-text{
    position: relative;
    z-index: 2;
    padding-right: 50px;
    color: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}
.zigzag-text::after{
    content: "";
    background: #082352;
    position: absolute;
    top: 0;
    bottom: 0;
    left:-4900% ;
    height: 100%;
    width: 5000%;
    transform: skew(10deg);
    z-index: -1;
}
.zigzag-text-bg-2 .zigzag-text:after {
    left: auto;
    right: -4900%;
    background-color: #40bfbf;
}

.zigzag-text-bg-2 .zigzag-text {
    padding-left: 100px;
    padding-right: 0;
}
.zigzag-text p{
    color: yellow;

}
.zigzag-text a{
    margin-top: 10px;
    text-decoration: none;
    padding: 15px;
    background: white;
    color: black;
}
